
/* Your CSS Code here. */
.holder{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
	/* width:100vw; */
}

.item{
	height:100px;
	width:100px;
	/* font-size:3rem; */
	/* font-weight:bold; */
}
